---
import ButtonMain from "@components/base/ButtonMain.astro";
import ButtonSub from "@components/base/ButtonSub.astro";
import HeroMainModuleOne from "@components/hero/HeroMainModuleOne.astro";
---

<div
  class="min-h-screen w-full overflow-hidden bg-muted-100 dark:bg-muted-1000"
>
  <div class="min-h-screen w-full max-w-7xl mx-auto flex items-center px-4">
    <div class="w-full grid grid-cols-12">
      <div class="col-span-12 ltablet:col-span-5 lg:col-span-5">
        <div
          class="h-full ptablet:max-w-lg ptablet:mx-auto flex items-center mb-8 ltablet:mb-0 lg:mb-0"
        >
          <div
            class="text-center ltablet:text-left lg:text-left font-sans space-y-4"
          >
            <h1
              class="font-medium text-4xl ptablet:text-5xl lg:text-5xl text-muted-800 dark:text-white"
            >
              Kinesis Medical Center
            </h1>
            <p class="text-lg text-muted-500 dark:text-muted-400">
              Kinesis Medical Center è un poliambulatorio a Padova specializzato
              in Riabilitazione, Ginnastica posturale e Fisioterapia in grado di
              offrire un servizio medico integrato per dare centralità alla
              figura del paziente.
            </p>
            <div
              class="w-full flex items-center justify-center ltablet:justify-start lg:justify-start gap-2"
            >
              <ButtonMain to={"/"} class="'min-w-[130px]'"
                >Prenota Online</ButtonMain
              >
              <ButtonSub to={"/"} class="'min-w-[130px]'"
                >Prenota Con Whatsapp</ButtonSub
              >
            </div>
          </div>
        </div>
      </div>
      <div class="relative col-span-12 ltablet:col-span-7 lg:col-span-7">
        <img
          src="/img/hero.jpg"
          class="block w-full ltablet:max-w-[640px] max-w-[720px] mx-auto"
          alt="Hero image"
        />

        <!-- Decoration -->
        <HeroMainModuleOne />
      </div>
    </div>
  </div>
</div>
