---
import Card from "@components/base/Card.astro";
import DoctorCard from "@components/content/doctors/grid/Doctor.astro";
---

<div
  class="grid md:grid-cols-3 ltablet:grid-cols-3 lg:grid-cols-3 gap-x-6 ptablet:gap-x-4 gap-y-16 pt-10"
>
  <DoctorCard
    name="Dott. Georgios Anastassopoulos"
    specialty="Epatologo"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2022/04/Dr-Anastassopoulos-scaled-919x919.jpg"
    rating="4.4/5"
    search="epatologia"
  />
  <DoctorCard
    name="Dott. Roberto Bellu"
    specialty="Cardiologo"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2018/11/IMG_7201-765x765.jpg"
    rating="4.4/5"
    search="cardiologia"
  />
  <DoctorCard
    name="Dott. Massimo Balsano"
    specialty="Ortopedico"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2019/04/CLINIC_dott.-Prof.-M.-Balsano_Chirurgia-Ortopedica-colonna-vertebrale-sito-web-600x600.jpg"
    rating="4.4/5"
    search="ortopedia"
  />
  <DoctorCard
    name="Dott. Davide Bertolini"
    specialty="Ortopedico"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2017/07/bertolini-277x277.jpg"
    rating="4.4/5"
    search="ortopedia"
  />
  <DoctorCard
    name="Dott.ssa Giada Betterele"
    specialty="Psicologa"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2017/07/etterle-277x277.jpg"
    rating="4.4/5"
    search="psicologia"
  />
  <DoctorCard
    name="Dott.ssa Antonella Calabrese"
    specialty="Logopedista"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2017/07/calabrese-277x277.jpg"
    rating="4.4/5"
    search="logopedia"
  />
  <DoctorCard
    name="Dott. Luigi Corti"
    specialty="Oncologo"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2021/10/dott_CORTI-scaled-768x768.jpg"
    rating="4.4/5"
    search="oncologia"
  />
  <DoctorCard
    name="Dott.ssa Alessia Dario"
    specialty="Oftamologa"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2020/09/Dario-430x430.jpg"
    rating="4.4/5"
    search="oftalmologia"
  />
  <DoctorCard
    name="Dott.ssa Martina Ferranti"
    specialty="Dermatologa"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2022/02/Dott.ssa-Martina-Ferranti-scaled-564x564.jpg"
    rating="4.4/5"
    search="dermatologia"
  />
  <DoctorCard
    name="Dott. Luca Londei"
    specialty="Ortopedico"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2017/07/londei-277x277.jpg"
    rating="4.4/5"
    search="ortopedia"
  />
  <DoctorCard
    name="Dott. Alessandro Nube"
    specialty="Chirurgia Plastica"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2017/07/Nube-400x400.jpg"
    rating="4.4/5"
    search="chirurgia"
  />
  <DoctorCard
    name="Dott. Paolo Parise"
    specialty="Chirurgia Generale"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2017/07/Nube-400x400.jpg"
    rating="4.4/5"
    search="chirurgia"
  />
  <DoctorCard
    name="Dott.ssa Patrizia Poli"
    specialty="Medicina Fisica e Riabilitativa"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2019/04/DSC_3422-600x600.jpg"
    rating="4.4/5"
    search="medicina-fisica"
  />
  <DoctorCard
    name="Dott. Andrea Postorino"
    specialty="Ortopedico"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2017/07/p0ostorino-277x277.jpg"
    rating="4.4/5"
    search="ortopedia"
  />
  <DoctorCard
    name="Dott.ssa M. Luisa Schiavinato"
    specialty="Cardiologa"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2018/11/IMG_7218-651x651.jpg"
    rating="4.4/5"
    search="cardiologia"
  />
  <DoctorCard
    name="Dott.ssa Alessandra Toson"
    specialty="Dietologa"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2017/07/toson-277x277.jpg"
    rating="4.4/5"
    search="dietologia"
  />
  <DoctorCard
    name="Dott. Dario Urzi"
    specialty="Posturologo"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2017/07/urzi-277x277.jpg"
    rating="4.4/5"
    search="posturologia"
  />
  <DoctorCard
    name="Dott. Andrea Venturin"
    specialty="Medicina fisica e riabilitativa"
    imageSrc="https://www.kinesismed.it/wp-content/uploads/2019/01/IMG_7235-768x768.jpg"
    rating="4.4/5"
    search="medicina-fisica"
  />
</div>
